@mixin color-hue($base-color:red, $hover-color:white){

  @for $i from 0 to 10{
    $hue-colors: adjust-hue($base-color, ($i * 45));
    $complement-color: complement($hue-color);
    &-#{$i}{

      color: $hue-colors;
      // color: $complement-color;
    }
    // &-#{$i}:hover{
    //   background-color: darken($hue-color, 10%);
    //   @extend %color-white;
    // }
  }


}
