@mixin color-hue($base-color:red, $hover-color:white,$background:false, $formLabel: false){



  @for $i from 0 to 10{
    //   $pseudoSelector = ($formLabel ? &:nth-child(#{$i}) label : &-#{$i} );
    $pseudoSelector: "";

      @if($formLabel){
           $pseudoSelector: "&:nth-child(#{$i}) label";
      }
      @else{
        $pseudoSelector: "&-#{$i}";
      }
    $hue-color: adjust-hue($base-color, ($i * 30));
    $complement-color: complement($hue-color);

    
    #{$pseudoSelector}{


      @if($background){
          background-color: $hue-color;
      }@else{
          color: $hue-color ;
      }


      // color: $complement-color;
    }
    // &-#{$i}:hover{
    //   background-color: darken($hue-color, 10%);
    //   @extend %color-white;
    // }
  }


}
